main {
  height: 100%;
}

#space {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dot {
  position: absolute;
  opacity: 0;
}

.circle {
  transform-origin: 0 0;
  position: absolute;
  z-index: 10;
  width: 1px;
  height: 1px;
  top: -100px;
  left: -100px;
  opacity: 1;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 1px #666;
  transition: transform 10s ease-in-out;
}

.container {
  background-color: #6C45C4;
  background: linear-gradient(135deg, #6C45C4 0%, #6C45C4 30%, #b875ff 100%) fixed;
}

.box {
  width: 94%;
  height: var(--boxHeight);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 16px 1px #442;
  background-color: #fff;

  & .inner {
    color: #333;
    text-align: center;
  }

  & .section {
    & .avatar {
      width: 120px;
      height: 120px;
      margin: -60px auto 10px;
      box-shadow: inset 0 0 10px 0 rgba(0,0,0,.2), 0 0 2px 0 rgba(0,0,0,.1);
      border-radius: 50%;
      background: #fff none no-repeat center center;
      background-size: contain;
    }

    & .name {
      font-weight: 800;
      font-size: 1.6rem;
      line-height: 2.0;
    }
    & .role {
      font-weight: 500;
      font-size: 1.2rem;
      color: #666;
      line-height: 1.4;
    }
    & .tags {
      font-weight: 400;
      font-size: 0.7rem;
      font-style: italic;
      color: #666;
      line-height: 1.4;
    }
  }
}

.connection {
  margin-top: 1rem;
  font-size: 1rem;
  & a {
    margin: 2px;
    color: #666;
    &:hover {
      color: #333;
    }
  }
}

@media (width >= 600px) {
  .tags {
    font-size: 0.9rem;
  }
  .connection {
    font-size: 1.3rem;
    & a {
      margin: 3px;
    }
  }
}

@media (width >= 480px) {
  .box {
    width: 28rem;
  }
}
